In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
# from sklearn.feature_extraction.text import word2vec
from sklearn.metrics.pairwise import linear_kernel
# url = '../input/coursera-courses-dataset-2021/Coursera.csv'
df = pd.read_csv("Coursera.csv")
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [ ]:
uc = ['Course URL','University']  # uc means useless columns
df = df.drop(columns=uc)
df.head()

,Course Name,Difficulty Level,Course Rating,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,4.1,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,4.8,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [16]:
cv=TfidfVectorizer()
tfidf_matrix=cv.fit_transform(df['Course Name'])
course_user = df.pivot_table(columns='Course Name',values='Course Rating')
course_user.head()

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
indices=pd.Series(df.index,index=df['Course Name'])
titles=df['Course Name']
def recommendations(course_title):
    idx = indices[course_title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    course_indices = [i[0] for i in sim_scores]
    return titles.iloc[course_indices]
print("--------------- Similar courses to your search --------------:\n")
recommendations('Retrieve Data using Single-Table SQL Queries')

--------------- Similar courses to your search --------------:

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

3272        Retrieve Data with Multiple-Table SQL Queries
1162       Advanced SQL Retrieval Queries in SQLiteStudio
1580                                 SQL for Data Science
3482                SQL for Data Science Capstone Project
2892                           Manipulating Data with SQL
2611                          Analyzing Big Data with SQL
2934    How to Design a Space-Saving Table Using SketchUp
1033                   Databases and SQL for Data Science
1379                   Databases and SQL for Data Science
1380                   Databases and SQL for Data Science
Name: Course Name, dtype: object

In [ ]:
cv=CountVectorizer()
tfidf_matrix=cv.fit_transform(df['Course Name'])
course_user = df.pivot_table(columns='Course Name',values='Course Rating')
course_user.head()

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
indices=pd.Series(df.index,index=df['Course Name'])
titles=df['Course Name']
def recommendations(course_title):
    idx = indices[course_title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    course_indices = [i[0] for i in sim_scores]
    return titles.iloc[course_indices]
print("--------------- Similar courses to your search --------------:\n")
recommendations('Write A Feature Length Screenplay For Film Or Television')

--------------- Similar courses to your search --------------:

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

1481    Script Writing: Write a Pilot Episode for a TV...
149                      Scandinavian Film and Television
828     Crafting Strategies for Innovation Initiatives...
2060    Business Models for Innovative Care for Older ...
2941    Foundations of Teaching for Learning: Planning...
2957    Preparing for Graduate Study in the U.S.: A co...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
23      Preparing for the Google Cloud Professional Da...
47      Programming Mobile Applications for Android Ha...
Name: Course Name, dtype: object

--------------- Similar courses to your search --------------:

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

149                      Scandinavian Film and Television
1481    Script Writing: Write a Pilot Episode for a TV...
2485                                  Feature Engineering
828     Crafting Strategies for Innovation Initiatives...
2060    Business Models for Innovative Care for Older ...
3                                    Finance for Managers
64                               Japanese for beginners 2
194                                      Genomics for Law
267                                      Java for Android
684                                     Chinese for HSK 2
Name: Course Name, dtype: object

# Get Data

In [ ]:
import csv
import numpy as np

def get_data(file_path):
  '''Reads file from file_path and returns a 2D list'''
  with open(file_path) as f:
    reader = csv.reader(f, delimiter="\t")  # generate matrix of user data
    return np.array(list(reader))

def get_matrix(data):
  '''Takes a 2D array and returns a 
  numpy array with items as rows and users as columns'''
  cf_matrix = {} # keys are item ids and values are user ratings
  max_id = 1682

  for row in data:
    user_id = int(row[0])
    item_id = int(row[1])
    user_rating = int(row[2])

    if item_id > max_id:
      max_id = item_id

    item_ratings = []
    if item_id in cf_matrix.keys():
      item_ratings = cf_matrix[item_id]

    item_ratings.extend([0] * (user_id - (len(item_ratings) + 1)))  # set missing ratings as zero
    item_ratings.append(user_rating)


    cf_matrix[item_id] = item_ratings

  TOTAL_USERS = int(data[-1][0])  # user_id of last user
  for item_id in cf_matrix.keys():
    cf_matrix[item_id].extend([0] * (TOTAL_USERS - len(cf_matrix[item_id])))
  
  matrix = []
  for i in range(1, max_id+1):
    if i in cf_matrix.keys():
      matrix.append(cf_matrix[i])
    else:
      matrix.append([0] * TOTAL_USERS)

  return np.array(matrix)

# Calculate Similarity

In [ ]:
from numpy.linalg import norm

def calc_cosine_similarity(v1, v2):
  num = np.dot(v1, v2)
  denom = norm(v1) * norm(v2)

  if num == 0:
    return 0
  return np.dot(v1, v2)/(norm(v1) * norm(v2))

def calc_similarity_matrix(data):
  '''Given a numpy array, calculates cosine similarity
  between all rows. Returns a 2D matrix of similarities'''

  similarity = [[[0, 0]]* (data.shape[0]+1) for i in range(data.shape[0]+1)]
  # first index for similarity and second for the id of the item it is compared with
  
  for i in range(data.shape[0]):
    for j in range(i+1, data.shape[0]):
      similarity[i+1][j+1] = [calc_cosine_similarity(data[i], data[j]), j+1]
      similarity[j+1][i+1] = [similarity[i+1][j+1][0], i+1]

    def sort_obj(obj):
      '''Comparator func'''
      return obj[0]
    similarity[i+1].sort(key=sort_obj, reverse=True) # sort similarities in descending order
  
  return similarity

# Predict Rating

In [ ]:
'''
--> Predection func for item based RS
def predict_item_rating(user_id, item_id, similarity_matrix, user_matrix, k):
  num = 0
  denom = 0
  similarity_list = similarity_matrix[item_id]

  items = 0
  index = 0
  while items < k and index < len(similarity_list):
    similarity = similarity_list[index]
    rating = int(user_matrix[user_id-1][similarity[1]-1])
    if rating > 0:
      # consider correlated items only
      num += similarity[0] * float(rating)
      denom += similarity[0]
      items += 1
    index += 1
  return num / denom
'''

'''
--> Predection func for user based RS
def predict_user_matrix(user_id, item_id, similarity_matrix, item_matrix, k):
  num = 0
  denom = 0
  similarity_list = similarity_matrix[user_id]

  users = 0
  index = 0
  while users < k and index < len(similarity_list):
    similarity = similarity_list[index]
    rating = int(item_matrix[item_id-1][similarity[1]-1])
    if rating > 0:
      # consider correlated items only
      num += similarity[0] * float(rating)
      denom += similarity[0]
      users += 1
    index += 1
  return num / denom
'''

def predict_rating(active_row, active_col, similarity_matrix, ratings_matrix, k):
  '''Common prediction func for item-based and user-based RS'''
  num = 0
  denom = 0
  # print(len(similarity_matrix), len(similarity_matrix[0]), active_row)
  # if active_row >= len(similarity_matrix):
  #   return 0
  similarity_list = similarity_matrix[active_row]

  neighbour_count = 0
  index = 0
  while neighbour_count < k and index < len(similarity_list):
    similarity = similarity_list[index]
    # if active_col >= len(ratings_matrix):
    #   rating = 0
    # else:
    rating = int(ratings_matrix[active_col-1][similarity[1]-1])
    if rating > 0:
      # consider correlated items only
      num += similarity[0] * float(rating)
      denom += similarity[0]
      neighbour_count += 1
    index += 1
  if denom == 0:
    return 0
  return num / denom

# Main

In [ ]:
from sklearn.metrics import mean_absolute_error as mae

TRAINING_FILES = ['u1.base', 'u2.base', 'u3.base', 'u4.base', 'u5.base']
TESTING_FILES = ['u1.test', 'u2.test', 'u3.test', 'u4.test', 'u5.test']
NEIGHBOUR_NUM = [10, 20, 30, 40, 50]

item_based_error = []
user_based_error = []

item_similarity_folds = []
user_similarity_folds = []

item_folds = []
user_folds = []

for file_num in range(len(TRAINING_FILES)):
  TRAINING_FILE_PATH = 'ml-100k/' + TRAINING_FILES[file_num]
  data = get_data(TRAINING_FILE_PATH)

  item_matrix = get_matrix(data)
  user_matrix = item_matrix.transpose()

  item_folds.append(item_matrix)
  user_folds.append(user_matrix)

  item_sim_matrix = calc_similarity_matrix(item_matrix)
  user_sim_matrix = calc_similarity_matrix(user_matrix)

  item_similarity_folds.append(item_sim_matrix)
  user_similarity_folds.append(user_sim_matrix)

  TEST_FILE_PATH = 'ml-100k/' + TESTING_FILES[file_num]
  test_data = get_data(TEST_FILE_PATH)

  actual_ratings = []

  item_predicted_ratings = []
  user_predicted_ratings = []

  item_fold_error = []
  user_fold_error = []

  for k in NEIGHBOUR_NUM:
    for row in test_data:
      item_based_predicted = predict_rating(int(row[1]), int(row[0]), item_sim_matrix, user_matrix, k)
      item_predicted_ratings.append(item_based_predicted)

      user_based_predicted = predict_rating(int(row[0]), int(row[1]), user_sim_matrix, item_matrix, k)
      user_predicted_ratings.append(user_based_predicted) 
      
      actual_ratings.append(float(row[2]))
    item_fold_error.append(mae(actual_ratings, item_predicted_ratings)) 
    user_fold_error.append(mae(actual_ratings, user_predicted_ratings)) 
  
  item_based_error.append(item_fold_error)
  user_based_error.append(user_fold_error)

In [ ]:
user_based_error

[[0.8283118125993926,
  0.8231746914891255,
  0.8213604034619338,
  0.8203629447276014,
  0.8198301033277907],
 [0.8183927115138278,
  0.8134568041399882,
  0.8113093639436633,
  0.810415739418294,
  0.8100386436271324],
 [0.815819932988674,
  0.8103094351388532,
  0.8077624204458156,
  0.806506941874861,
  0.8057089838273197],
 [0.8131688759740163,
  0.8073930177778874,
  0.8048646384548719,
  0.8036236793845194,
  0.8029883535731162],
 [0.8215148598819892,
  0.8151443094785445,
  0.8123160860837583,
  0.811083330456688,
  0.8103944514563489]]

In [ ]:
item_based_error

[[0.7730155523957077,
  0.7756318851697261,
  0.7790058769672251,
  0.7823862410922097,
  0.7853933746133464],
 [0.7571833631673034,
  0.759804210214566,
  0.763420958698637,
  0.7668930315982281,
  0.7699964654826063],
 [0.755977173697978,
  0.7570273147118183,
  0.7594490190529796,
  0.7618774955817617,
  0.764241074957209],
 [0.7615681330154708,
  0.7631666840755934,
  0.7656940926270077,
  0.7681623760373705,
  0.7705468349293394],
 [0.7646978363071872,
  0.7662664827306501,
  0.7691756047367043,
  0.7721795221954644,
  0.7751080407026838]]

In [ ]:
# calculate average
for k in range(len(NEIGHBOUR_NUM)):
  item_based_avg = 0
  user_based_avg = 0
  print("K =", NEIGHBOUR_NUM[k])
  for fold in range(len(TRAINING_FILES)):
    item_based_avg += item_based_error[fold][k]
    user_based_avg += user_based_error[fold][k]
  print("Item based:", str(item_based_avg/5))
  print("User based:", str(user_based_avg/5))

K = 10
Item based: 0.7624884117167294
User based: 0.8194416385915799
K = 20
Item based: 0.7643793153804708
User based: 0.8138956516048796
K = 30
Item based: 0.7673491104165108
User based: 0.8115225824780087
K = 40
Item based: 0.7702997333010068
User based: 0.8103985271723927
K = 50
Item based: 0.773057158137037
User based: 0.8097921071623416

# Variance Weighting

In [ ]:
def variance_predict_rating(active_row, active_col, similarity_matrix, ratings_matrix, k, variance, min_var, max_var):
  num = 0
  denom = 0

  similarity_list = similarity_matrix[active_row]

  neighbour_count = 0
  index = 0
  while neighbour_count < k and index < len(similarity_list):
    similarity = similarity_list[index]

    rating = int(ratings_matrix[active_col-1][similarity[1]-1])
    if rating > 0:
      w = (variance[similarity[1]-1] - min_var) / (max_var - min_var)
      # w = variance[similarity[1]-1]
      # consider correlated items only
      num += similarity[0] * float(rating) * w
      denom += similarity[0] * w
      neighbour_count += 1
    index += 1
  if denom == 0:
    return 0
  return num / denom

In [ ]:
variance_error = []

for file_num in range(len(TRAINING_FILES)):
  item_var = []
  max_var = 0
  min_var = 10
  for row in item_folds[file_num]:
    var = np.var(row)
    item_var.append(var)
    if var < min_var:
      min_var = var
    if var > max_var:
      max_var = var

  variance_fold_error = []
  variance_fold_predicted = []
  actual_ratings = []
  TEST_FILE_PATH = 'ml-100k/' + TESTING_FILES[file_num]
  test_data = get_data(TEST_FILE_PATH)
  for k in NEIGHBOUR_NUM:
    for row in test_data:
      variance_item_based_predicted = variance_predict_rating(int(row[1]), int(row[0]), item_similarity_folds[file_num], user_folds[file_num], k, item_var, min_var, max_var)
      variance_fold_predicted.append(variance_item_based_predicted)
      actual_ratings.append(float(row[2]))
    variance_fold_error.append(mae(actual_ratings, variance_fold_predicted))
  variance_error.append(variance_fold_error)

In [ ]:
variance_error

[[0.8169649068636848,
  0.8223000682114165,
  0.8268302770640906,
  0.8308038760801364,
  0.8338861997794356],
 [0.7944935953893906,
  0.7997813237651504,
  0.8049378093000843,
  0.8092958539642031,
  0.8128000021446914],
 [0.7886049362314121,
  0.7917296423868198,
  0.7951416832597542,
  0.7982411636954838,
  0.8007307229057533],
 [0.7966897552449246,
  0.8001538024300959,
  0.8037257257058592,
  0.8067662868574583,
  0.8094756774678508],
 [0.7991376718602781,
  0.8029673382532457,
  0.8069727633478065,
  0.8104477495935216,
  0.8134451262206126]]

# Significance Weighting

In [ ]:
def calc_correlated(user_matrix):
  corrated = [[0]* (len(user_matrix)+1) for i in range(len(user_matrix)+1)]

  for i in range(len(user_matrix)):
    for j in range(i+1, len(user_matrix)):
      for index in range(len(user_matrix[i])):
        if user_matrix[i][index] > 0 and user_matrix[j][index] > 0:
          corrated[i+1][j+1] += 1
          corrated[j+1][i+1] += 1
  return corrated

In [ ]:
def significance_predict_rating(active_row, active_col, similarity_matrix, ratings_matrix, k, corrated):
  num = 0
  denom = 0

  similarity_list = similarity_matrix[active_row]

  user_matrix = ratings_matrix.transpose()
  T = len(ratings_matrix)
  neighbour_count = 0
  index = 0
  while neighbour_count < k and index < len(similarity_list):
    similarity = similarity_list[index]

    rating = int(ratings_matrix[active_col-1][similarity[1]-1])
    if rating > 0:
      r_avg = np.mean(user_matrix[similarity[1]-1])
      # consider correlated items only
      ss = 1.0
      if corrated[active_row][similarity[1]] < 50:
        ss = corrated[active_row][similarity[1]]/ (T/50)
      num += similarity[0] * float(rating) * ss
      denom += similarity[0] *ss
      neighbour_count += 1
    index += 1
  if denom == 0:
    return 0
  return num / denom

In [ ]:
significance_error = []

for file_num in range(len(TRAINING_FILES)):
  TRAINING_FILE_PATH = 'ml-100k/' + TRAINING_FILES[file_num]
  data = get_data(TRAINING_FILE_PATH)

  item_matrix = get_matrix(data)
  user_matrix = item_matrix.transpose()

  corrated = calc_correlated(user_matrix)

  significance_fold_error = []
  significance_fold_predicted = []
  actual_ratings = []
  TEST_FILE_PATH = 'ml-100k/' + TESTING_FILES[file_num]
  test_data = get_data(TEST_FILE_PATH)
  for k in NEIGHBOUR_NUM:
    for row in test_data:
      significance_user_based_predicted = significance_predict_rating(int(row[0]), int(row[1]), user_similarity_folds[file_num], item_folds[file_num], k, corrated)
      significance_fold_predicted.append(significance_user_based_predicted)
      actual_ratings.append(float(row[2]))
    significance_fold_error.append(mae(actual_ratings, significance_fold_predicted))
  significance_error.append(significance_fold_error)
  print(TRAINING_FILES[file_num])
  print(significance_error)

u1.base
[[0.8295863385600891, 0.8243158012367443, 0.8224779713560528, 0.8214714300414527, 0.82093309077663]]
u2.base
[[0.8295863385600891, 0.8243158012367443, 0.8224779713560528, 0.8214714300414527, 0.82093309077663], [0.8196282708234106, 0.8146608076938497, 0.8124793980847173, 0.8115401152633728, 0.8111189189033616]]
u3.base
[[0.8295863385600891, 0.8243158012367443, 0.8224779713560528, 0.8214714300414527, 0.82093309077663], [0.8196282708234106, 0.8146608076938497, 0.8124793980847173, 0.8115401152633728, 0.8111189189033616], [0.8183213527761087, 0.812483356421091, 0.8098614167795987, 0.8085614406957782, 0.8077283613290098]]
u4.base
[[0.8295863385600891, 0.8243158012367443, 0.8224779713560528, 0.8214714300414527, 0.82093309077663], [0.8196282708234106, 0.8146608076938497, 0.8124793980847173, 0.8115401152633728, 0.8111189189033616], [0.8183213527761087, 0.812483356421091, 0.8098614167795987, 0.8085614406957782, 0.8077283613290098], [0.8158266305250592, 0.8097215272267979, 0.8070181733682597, 0.8056945199619979, 0.8050360590915699]]
u5.base
[[0.8295863385600891, 0.8243158012367443, 0.8224779713560528, 0.8214714300414527, 0.82093309077663], [0.8196282708234106, 0.8146608076938497, 0.8124793980847173, 0.8115401152633728, 0.8111189189033616], [0.8183213527761087, 0.812483356421091, 0.8098614167795987, 0.8085614406957782, 0.8077283613290098], [0.8158266305250592, 0.8097215272267979, 0.8070181733682597, 0.8056945199619979, 0.8050360590915699], [0.824626847036433, 0.8178808848988465, 0.8149306201000369, 0.8136411072889528, 0.8129158052424111]]