In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# url = '../input/coursera-courses-dataset-2021/Coursera.csv'
df = pd.read_csv("/content/gdrive/MyDrive/Coursera.csv")
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [ ]:
uc = ['Course URL','University']  # uc means useless columns
df = df.drop(columns=uc)
df.head()

,Course Name,Difficulty Level,Course Rating,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,4.1,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,4.8,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [ ]:
cv=TfidfVectorizer()
tfidf_matrix=cv.fit_transform(df['Course Name'])
course_user = df.pivot_table(columns='Course Name',values='Course Rating')
course_user.head()

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
indices=pd.Series(df.index,index=df['Course Name'])
titles=df['Course Name']
def recommendations(course_title):
    idx = indices[course_title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    course_indices = [i[0] for i in sim_scores]
    return titles.iloc[course_indices]
print("--------------- Similar courses to your search --------------:\n")
recommendations('Write A Feature Length Screenplay For Film Or Television')

--------------- Similar courses to your search --------------:

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

149                      Scandinavian Film and Television
2485                                  Feature Engineering
1481    Script Writing: Write a Pilot Episode for a TV...
2858         Machine Learning Feature Selection in Python
3070            Perform Feature Analysis with Yellowbrick
1854    Data Processing and Feature Engineering with M...
1629                               Write Your First Novel
650                  Write Professional Emails in English
2385                     Getting Your Film off the Ground
2472    Python: Imputations, Feature Creation & Statis...
Name: Course Name, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
tfidf_matrix=cv.fit_transform(df['Course Name'])
course_user = df.pivot_table(columns='Course Name',values='Course Rating')
course_user.head()

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
indices=pd.Series(df.index,index=df['Course Name'])
titles=df['Course Name']
def recommendations(course_title):
    idx = indices[course_title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    course_indices = [i[0] for i in sim_scores]
    return titles.iloc[course_indices]
print("--------------- Similar courses to your search --------------:\n")
recommendations('Write A Feature Length Screenplay For Film Or Television')

--------------- Similar courses to your search --------------:

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

1481    Script Writing: Write a Pilot Episode for a TV...
149                      Scandinavian Film and Television
828     Crafting Strategies for Innovation Initiatives...
2060    Business Models for Innovative Care for Older ...
2941    Foundations of Teaching for Learning: Planning...
2957    Preparing for Graduate Study in the U.S.: A co...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
23      Preparing for the Google Cloud Professional Da...
47      Programming Mobile Applications for Android Ha...
Name: Course Name, dtype: object

In [ ]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import regex as re
from nltk.stem import PorterStemmer
from wordcloud import STOPWORDS
import numpy as np
import nltk
nltk.download("stopwords")
stops = set(stopwords.words('english'))
for i in stops:
    STOPWORDS.add(i)

ps = PorterStemmer()
nltk.download('punkt')

def  processString(text):
  # print("___")
  symbols = "!\"#$%&()*+-./:;,<=>?@[\]^_`{|}~\n"
  for num in symbols:
    text = text.replace(num, " ")
    text = text.replace("  ", " ")
  text = text.replace("'", " ")
  text = text.replace("  ", " ")
  tokens_in_text = word_tokenize(text)
  for i in range(len(tokens_in_text)):
    token = tokens_in_text[i]
    token = token.strip()
    token = token.lower()
    token = ps.stem(token)
    tokens_in_text[i] = token;
  tokens_in_text =  [w for w in tokens_in_text if w not in STOPWORDS]
  return tokens_in_text;


df["CourseDescription_tokens"] = df["Course Description"].apply(lambda x: x.split())

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
from gensim.models.word2vec import Word2Vec

word2vec_model = Word2Vec(min_count=0, workers = 8, size=300) 
# Prepare vocab
word2vec_model.build_vocab(df.CourseDescription_tokens.values)
# Train
word2vec_model.train(df.CourseDescription_tokens, total_examples=word2vec_model.corpus_count, epochs=30)

(14600185, 18870240)

In [ ]:
df

,Course Name,Difficulty Level,Course Rating,Course Description,Skills,CourseDescription_tokens
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,"[Write, a, Full, Length, Feature, Film, Script..."
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,"[By, the, end, of, this, guided, project,, you..."
2,Silicon Thin Film Solar Cells,Advanced,4.1,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,"[This, course, consists, of, a, general, prese..."
3,Finance for Managers,Intermediate,4.8,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,"[When, it, comes, to, numbers,, there, is, alw..."
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,"[In, this, course, you�ll, learn, how, to, eff..."
...,...,...,...,...,...,...
3517,"Capstone: Retrieving, Processing, and Visualiz...",Beginner,4.6,"In the capstone, students will build a series ...",Databases syntax analysis web Data Visuali...,"[In, the, capstone,, students, will, build, a,..."
3518,Patrick Henry: Forgotten Founder,Intermediate,4.9,"�Give me liberty, or give me death:� Rememberi...",retirement Causality career history of the ...,"[�Give, me, liberty,, or, give, me, death:�, R..."
3519,Business intelligence and data analytics: Gene...,Advanced,4.6,�Megatrends� heavily influence today�s organis...,analytics tableau software Business Intellig...,"[�Megatrends�, heavily, influence, today�s, or..."
3520,Rigid Body Dynamics,Beginner,4.6,"This course teaches dynamics, one of the basic...",Angular Mechanical Design fluid mechanics F...,"[This, course, teaches, dynamics,, one, of, th..."
3521,Architecting with Google Kubernetes Engine: Pr...,Intermediate,4.7,"In this course, ""Architecting with Google Kube...",bigtable bigquery SQL Google Cloud Platform...,"[In, this, course,, ""Architecting, with, Googl..."

In [ ]:
# Predict
def is_word_in_model(word, model):
    print(model)
    is_in_vocab = word in model.vocab
    return is_in_vocab

def predict(query_sentence, dataset, model, topk=3):
    query_sentence = query_sentence.split()
    in_vocab_list, best_index = [], [0]*topk
    for w in query_sentence:
        # remove unseen words from query sentence
        if is_word_in_model(w, model.wv):
            in_vocab_list.append(w)
    # Retrieve the similarity between two words as a distance
    if len(in_vocab_list) > 0:
      
        sim_mat = np.zeros(len(dataset))  # TO DO
        print(sim_mat)
        for i, data_sentence in enumerate(dataset):
            if data_sentence:
                sim_sentence = model.wv.n_similarity(
                        in_vocab_list, data_sentence)
            else:
                sim_sentence = 0
            sim_mat[i] = np.array(sim_sentence)
        # Take the five highest norm
        best_index = np.argsort(sim_mat)[::-10][:topk]
    return best_index

best_index = predict("Java", df['CourseDescription_tokens'].values, word2vec_model)

df.iloc[best_index]    
# display(df[['original_title', 'genres', 'sentence']].iloc[best_index])

<gensim.models.keyedvectors.Word2VecKeyedVectors object at 0x7f804f30be10>
[0. 0. 0. ... 0. 0. 0.]

,Course Name,Difficulty Level,Course Rating,Course Description,Skills,CourseDescription_tokens
1210,Compose and Program Music in Python using Ears...,Beginner,4.4,"By the end of this course, you will create a b...",sound Python Programming music user interfa...,"[By, the, end, of, this, course,, you, will, c..."
267,Java for Android,Intermediate,4.4,This MOOC teaches you how to program core feat...,java syntax java (software platform) generic...,"[This, MOOC, teaches, you, how, to, program, c..."
558,"Android App Components - Intents, Activities, ...",Advanced,4,This 4 week MOOC builds upon the overview of J...,Computer Programming software Operating Syst...,"[This, 4, week, MOOC, builds, upon, the, overv..."